*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 0; */
    position: relative;
    list-style-type: none;
    text-decoration: none;
}
li {
    height: 40px;
    padding: 10px 15px;
}

.wrapper {
    height: 100%;
    padding: 10px;
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    min-height: 100vh;
}

.app {
    padding: 5px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 20px;
}

.top {
    height: 200px;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

#clear {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}
#clear img {
    width: 30px;
    transition: all 0.3s ease;
}
#clear img:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

#date {
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #fff;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}

.content {
    height: auto;
    min-height: 100px;
    width: 100%;
    background-color: #fff;
    overflow: auto;
}
.content::-webkit-scrollbar {
    display: none;
}
.content ul {
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
}
.item img.co {
    /* position: absolute; */
    width: 23px;
    /* left: 15px; */
    /* top: 10px; */
}
.item img.done {
    /* position: absolute; */
    width: 27px;
    /* left: 15px; */
    /* top: 10px; */
}
.item img:hover {
    cursor: pointer;
}
.item p.text {
    max-width: 70%;
    overflow: hidden;
    font-size: 18px;
    background-color: #fff;
    white-space: nowrap;
}

.lineThrough {
    text-decoration: line-through;
    color: #ccc;
}
.item img.de {
    /* position: absolute; */
    width: 25px;
    /* right: 15px; */
    /* top: 10px; */
}
.item img.de:hover {
    cursor: pointer;
}

.addItem {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    padding: 10px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.addItem img {
    width: 25px;
    margin-right: 20px;
}
.addItem input {
    height: 35px;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    font-size: 18px;
}
@media (max-width: 300px) {
    .item p.text {
        max-width: 60%;
        font-size: 15px;
    }
    .addItem input {
        font-size: 15px;
    }
    .addItem img {
        margin-right: 10px;
    }
    .wrapper {
        padding: 50px 5px;
    }
}
